* {
    font: Helvetica;
    font-size: 15px;
    padding: 5px;
}

h1 {
    font-size: 40px;
    margin: auto;
    background-color: white;
    width: max-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

table {
    margin: auto;
    border-spacing: 0px;
    background-color: white;
    padding: 0px;
    border: 2px solid black;
}

td {
    font-size: 15px;
}

section {
    text-align: center;
    margin: auto;
    background-color: rgb(135, 241, 218);
    width: 700px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);

}

.bar_piece {
    background-color: #0084ffc4;
    color: white;
}

body {
    background-color: #f5f293;
}

footer {
    text-align: center;
    margin: auto;
}

fieldset {
    margin: auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 650px;
}

select {
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    width: max-content;
    border: 1px solid black;
    background-color: rgb(241, 113, 119);
}